/* Make hyperlink text color white */
a:link {
  color: white;
  background-color: transparent;
}

a:active {
  color: white;
  background-color: transparent;
}

a:visited {
  color: white;
  background-color: transparent;
}

/* Then make it Bonn yellow when hovered over */
a:hover {
  color: #FBBA00;
  background-color: transparent;
}

/* Make tickmark text on sliderInput white */
.irs-grid-text {
  color: white;
}

.irs-single, .irs-bar-edge, .irs-bar {
  background-color: var(--bs-warning) !important;
}
